xarray 
numpy<=1.17.0
pandas>=0.24
scikit-learn
scipy>=0.19.1
flask>=1.1.1
flask-cors
graphviz
multiprocessing_on_dill
pyopenssl
spflow
rpy2>=2.9.4
pymc3
dill
sympy
watchdog
flask-socketio
astropy
networkx
numba
statsmodels
tensorflow==1.14
prettytable 